<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="mytextbox" xsi:type="MyTextbox" textbox="{x:Reference mytextbox}"/>

    <target xsi:type="File" name="logfile" fileName="${basedir}/logs/${shortdate}/${level}.log"
          layout="时间：${longdate}|等级：${level}|信息：${message} |${all-event-properties} ${exception:format=tostring}"
    maxArchiveFiles="10"
    archiveAboveSize="10240"
    archiveEvery="Day"
            />

    <target xsi:type="Console" name="logconsole"
            layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
  </targets>



  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="mytextbox"/>
    <logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
  </rules>
</nlog>